a {
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}
/* .container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
} */
.banner-container>img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
#banner{
    width: 100%;
	background-size: cover;
	background-position: center;
    height: 750px;
}
.banner-container{
    width: 100%;
    height: 700px;
    position: relative;
    text-align: center;
    display: flex;
}
.banner-container>.banner-img{
    z-index: 1;
    width: 100%;
    height: 700px;
    background-image: url(/img/main_top5.jpg);
    position: absolute;
    background-repeat: space;
    background-position: center;
    background-size: cover;
}
.banner-container>.banner-wrap{
    width: 100%;
    height: 700px;
    background-color: rgba(00,00,00,0.2);
    z-index: 2;
    position: absolute;
}
.banner-content{
    width: 80%;
    height: 100%;
    position: absolute;
    z-index: 3;
    left: 50%;
    transform: translateX(-50%);
}
.banner-content img{
    width: 30%;
    margin-top: 130px;
    margin-bottom: 63px;
}
.banner-content span{
    font-size:26px;
    margin-top:70px;
    margin-bottom: 10px;
    color: white;
}

.banner-content div{
    width: 22%;
    margin: 0 auto;
    height: 6%;
    margin-top: 50px;
}
.banner-content div a{
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    padding:13px;
    font-size: 19px;
    line-height: 200%;
}
.banner-content div a:hover{
    transition-duration: 0.8s;
    font-size: 1.1em;
    background-color: rgb(90,197,219);
}

/* @keyframes filling {
  from{
    background-position: center 25%;
  }
  to {
    background-position: center 50%;
  }
}
.banner-content span{
  background-image:  url(https://static.pexels.com/photos/4827/nature-forest-trees-fog.jpeg);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  color:  #FFFFFF;
  padding-top: 20px;
  font-size: 170px;
  font-family: 'Bungee', cursive;
  animation: filling 3s ease forwards;
} */



#ploggings{
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 750px;
}
.ploggings-container{
    width: 100%;
    height: 700px;
    position: relative;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ploggings-title{
    text-align: center;
    height: 100px;
    width: 100%;
    line-height: 100px;
    font-size: 36px;
    font-weight: bold;
}
.plogging-content{
    background-color: white;
    width: 100%;
    height: 600px;
    display: inline-block;
    background-color: rgb(224, 224, 224);
}
.plogging-content-left{
    width: 40%;
    height: 600px;
    float: left;
}
.plogging-content-left>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.plogging-content-right{
    width: 60%;
    height: 600px;
    float: left;
}
.plogging-content-right>p{
    margin: 45px;
    margin-top: 150px;
    font-size: 20px;
    text-align: left;
    line-height: 25px;
}
.p-color-orange{
    font-size: 22px;
    color: rgb(230, 126, 34);
}
.p-color-red{
    font-size: 22px;
    color: rgb(231, 76, 60);
}


#main{
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 2500px;
}
.main-container{
    width: 100%;
    height: 2500px;
    position: relative;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}
.main-container>img{
    height: 60%;
    object-fit: cover;
}
.main-container>.main-title{
    background-color: black;
    color: white;
    font-size: 40px;
    height: 40%;
    font-weight: 700;
}
.main-container>.main-wrap{
    width: 100%;
    height: 60%;
    background: linear-gradient(to top, #fff, black 0%, transparent);
    z-index: 2;
    position: absolute;
    text-align: center;
}
.main-wrap-top{
    margin-top: 350px;
}
.main-wrap-top>span{
    color: white;
    font-size: 38px;
    line-height: 120%;
    font-weight: 700;
}
.main-wrap-top>span:nth-child(3){
    font-size: 25px;
    font-weight: 500;
}
.main-wrap-bottom{
    margin-top: 500px;
}
.main-wrap-bottom>span{
    color: white;
    font-size: 40px;
    line-height: 120%;
    font-weight: 700;
}
.main-title-top{
    background-color: white;
    color: black;
    font-size: 30px;
    height: 40px;
    line-height: 40px;
    width: 45%;
    font-weight: 700;
    margin: 0 auto;
}
.main-title-middle{
    margin-top: 20px;
    color: white;
    font-size: 25px;
    line-height: 35px;
}
.bolder{
    margin-top: 20px;
    color: white;
    font-size: 27px;
    line-height: 35px;
    font-weight: bolder;
}



#ranking{
    height: 100%;
    background-size: cover;
    background-position: center;
    height: 750px;
}
.ranking-container{
    width: 100%;
    height: 700px;
    position: relative;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ranking {
    position: relative;
}
.ranking-title{
    background-color: white;
    text-align: center;
    height: 100px;
    width: 100%;
    line-height: 100px;
    font-size: 36px;
    font-weight: bold;
}
.ranking-content{
    background-color: white;
    width: 100%;
    height: 600px;
    display: inline-block;
    background-color: rgb(224, 224, 224);
}
