@charset "UTF-8";

/*noticeVeiw*/

*{
	margin: 0;
	padding: 0;
}
.page-content{
	width: 1200px;
}
.page-title{
	width: 260px;
	margin: 0 auto;
	font-size: 35px;
	font-weight: 900;
	text-align: center;
	padding: 60px 0px;
}
#noticeView{
	margin: 0 auto;
	width: 900px;
    border-spacing: 0px;
    border-collapse: collapse;
}
.th{
	font-weight: 700;
	background-color: rgba(0, 173, 181, 0.1);
}
.tbl th,
.tbl td{
	border: 1px solid rgb(229, 230, 232);
}
#noticeContent{
	min-height: 300px;
    text-align: left;
}

.btn{
	background-color: #5AC5DB;
}
.btn:hover{
	background-color: #0078AA;
	cursor: pointer;
}
.delBtn{
	height: 48px;
	line-height: 10px;
}


/*updateNotice*/
#noticeUpdateFrm{
	margin: 0 auto;
	width: 900px;
    border-spacing: 0px;
    border-collapse: collapse;
}
.th{
	background-color: #0078AA;
	font-weight: 700;
}
.updateBtn{
	background-color: #5AC5DB;
	width: 300px;
}
.updateBtn:hover{
	background-color: #0078AA;
	cursor: pointer;
}
#noticeUpdateFrm tr:nth-of-type(4) th {
	border-bottom: none;
	border-left: none;
	border-right: none;
}








