@charset "UTF-8";
body {
    background: url(/img/img/sub_bg.png) left top #05081a;
    background-size: auto auto;
    text-align: center;
    font-family: DungGeunMo;
    color: white;
}

#quick {
  position: fixed;
  right: 5%;
  bottom: 5%;
  color: #fff;
  z-index: 1000;
}
.top_btn{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(93, 93, 93, 0.5);
  cursor: pointer;
  margin-top: 30%;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top_btn1{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 30%;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.plog_logo{
  width: 80px;
}
.sub_wrapper {
    width: 100%;
    max-width: 900px;
    margin: 50px auto;
    padding: 0 20px;
}
.top_title{
    border: 5px solid #F2DF3A;
    border-radius: 70px;
    padding: 7px;
    margin-bottom: 60px;
}
.border2 {
  border: 5px solid #b91a1a;
  border-radius: 60px;
  padding: 7px;
}
.border3 {
  border: 5px solid #3AB4F2;
  border-radius: 50px;
  padding: 40px;
}
.top>h5 {
  color: #3AB4F2;
  font-size: 4em;
}
.top{
display: flex;
align-items: center;
justify-content: center;
margin-bottom: 30px;
}
.form_wrap {
    padding: 60px 0 30px 0;
    background: #05081a;
    border: 5px dotted #fff;
    padding: 50px 75px 100px 75px;
    border-radius: 50px;
}
.form_title {
  font-size: 2.8125em;
  margin-bottom: 40px;
  text-align: center;
}
.form_title img {
  vertical-align: text-top;
  margin: 0 10px;
  animation: rotation 1.3s infinite linear;
}
.flag_title {
  margin-bottom: 20px;
  font-size: 1.875em;
  color: #F2DF3A;
  position: relative;
  z-index: 2;
}
.form_box {
  margin-bottom: 50px;
  max-width: 740px;
}
.form_box .input_grey {
  position: relative;
  z-index: 3;
  font-size: 22px;
  font-family: inherit;
  height: 60px;
  padding: 0 20px;
  background: #b3b3b3;
  color: #111;
  width: 100%;
  border-top:  2px solid #767575;
  border-left: 2px solid #767575;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.count_input > span {
  height: 50px;
  background: #b3b3b3;
  border-bottom: 2px solid #767575;
  border-right: 2px solid #767575;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  color: #333;
  font-size: 26px;
  width: 35px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.fff{
  font-size: 1.4em;
}
.get_item .input_grey {
  width: 100px;
  height: 50px;
  font-size: 2.5em;
  text-align: center;
}
.get_item {
  margin: 10px;
}
.flag_title::before {
  content: "";
  display: block;
  width: 18px;
  height: 29px;
  background: url(/img/flag.png) no-repeat center center;
  background-size: 18px 29px;
  left: -35px;
  position: absolute;
}
.yellow{
  color: #F2DF3A;
}
.org {
  position: relative;
  z-index: 2;
  text-align: left;
}
.shadow {
  position: absolute; color: #b91a1a; top: 2px; left: -3px;
  z-index: 1;
}
.address_flex{
  margin: 30px auto;
}
/*줍줍 포인트*/
.count_input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.count_input>input {
  width: 100px;
}
.flex {
  display: flex;
  align-items: center;
  width: 100%;
}
/* 옵션들 */
.form_cont{
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between; 
}
.photo_img>img {
  height: 200px;
  border: 5px solid #000;
  border-radius: 15px;
  box-shadow: 3px 3px 0 rgb(255 255 255 / 80%);  
}
.photo_file {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input_grey.h165 {
  width: 450px;
  height: 165px;
  padding: 15px 20px; 
}
.sub_btn {
  margin: 0;
  margin-bottom: 15px;
  line-height: 37px;
}
.sub_btn {
  background: url(/img/img/address.png) no-repeat center center;
  background-size: cover;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  width: 126px;
  height: 37px;
  cursor: pointer;
  background-size: contain;
  text-align: center;
}
.filebox label {
  display: inline-block;
  color: #fff;
  font-size: 1rem;
  /* line-height: normal; */
  vertical-align: middle;
  cursor: pointer;
  transform: rotate(-0.03deg);
  margin-right: 20px;
}
.filebox1, .filebox2{
  text-align: left;
}
.flex1 {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  align-items: flex-end;
}
.button_su_inner{
    display: flex;
} 
.button_su:hover {
  border: 5px sol;
  color: #fff;
}
.skyblue{
  color: #3AB4F2;
}
.button_text_container {
  width: 80%;
  overflow: hidden;
  position: relative;
  font-size: 1.6em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 50px;
  border: 5px solid #e9c70c;
  overflow: hidden;
  transition: all 0.7s;
  position: relative;
  cursor: pointer;
  padding: 20px;
  background: transparent;
}
.prevBtn:hover, .nextBtn:hover {
  background-color: #b91a1a;
  color: white;
}
.form_bt {
  justify-content: space-between;
}

.ui-datepicker-trigger{
  display: none;
}
.upload-hidden{
  display: none;
}
/* footer */
footer.noto {
  text-align: center;
  background: #05081a;
  font-size: 15px;
  color: #fff;
  padding-bottom: 20px;
  transform: rotate(-0.03deg);
}
.fx{
  display: flex;
  justify-content: center;
}
.noto {
  font-family: 'Noto Sans KR', sans-serif;
}
.popup{
  display: none;
}
.copy{
  color: #7a7a7a;
}
.top1>div:nth-child(2){
  line-height: 20px;
}
.borderR {
  height: 70px;
  padding-right: 20px;
  padding-left: 20px;
  border-right: 1px solid #afafafc7;
  margin-bottom: 20px;
}
.borderL {
  border-left: 1px solid #7a7a7a;
}
@font-face {
  font-family: 'DungGeunMo';
  src: url('/font/DungGeunMo.ttf') format('woff');
  font-weight: normal;
  font-style: normal;
  }

@keyframes rotation {100%{transform:rotatey(360deg);}}

